body {
  background-color: #296d2ca8;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
 
div {
  max-width: 700px;
  width:90%;
  margin: 40px auto;
  padding: 10px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 12px rgba(71, 148, 60, 0.671);
}

h1,h2,h3 {
  text-align: center;
  font-family: "Jost", sans-serif;
  color:#4b3f37;
  margin-bottom:15px;
}

input {
  font-size: larger;
  font-weight: 800;
  padding:8px;
  margin-right:8px;
  margin-bottom: 12px;
  border:1px solid #D6CFC7;
  border-radius: 6px;
  width:120px;
}

button {
  padding: 0px 3px;
  border: none;
  border-radius: 6px;
  background-color:#ff8c42 !important;
  color: white;
  cursor: pointer;
}

/* #sumbitBtn{
 
} */

button:hover{
  background-color: #4b3f37 !important;
}

ul{
  padding-left: 0;
}

form{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  gap:10px;
}

.input-form input{
flex:1;
/* min-width: 150px; */
}
.drop-downList {
  display: block;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  flex-basis: 100%;
  background-color: #fdfcfb;
  z-index: 999;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
}

.input-form button{
  width: 100%;
}

li{
  
  list-style: none;
  margin-bottom: 10px;
  color:#4b3f37;
  border-radius: 6px;
}

li:hover{
  background-color: #ff8c42;
  color: black;
  font-weight: 600;
}

.table-container{
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  /* overflow-x: auto;
  -webkit-overflow-scrolling: touch; */
}

table{
  /* margin-left: 25%; */
  /* display:flex;  */
  margin: 0 auto;
  padding: 6px 5px;
  align-items: center;
  justify-content: center;
  table-layout: auto;
  word-wrap:break-word;
}

.weightUnit-dropdown{
  height: 50px;
  border-radius: 5px;
  font-size: larger;
  font-weight: 800;
  color: #727272;
  padding:8px;
  margin-right:8px;
  margin-bottom: 12px;
  border:1px solid #D6CFC7;
  border-radius: 6px;

}

#clearAll {
  background-color: rgb(212, 24, 24) !important;
  margin-left: 43%;
}

.deleteIcon,.editIcon{
  display: none;
}

.Download-btn{
  background-color: #ff8c42;
  text-align: center;
  cursor: pointer;
  height: 40px;

}

.Download-btn:hover{
  background-color: #4b3f37;
  box-shadow: 1px 3px 3px black;
}



@media  (max-width:600px) {
  form {
    flex-direction: column;
    gap: 10px;
    margin-right: 15px;
  }
  input{
    width: 100%;
  }

  .table-container{
    margin: 0;
    padding: 0;
  }
  table{
    /* background-color: aqua; */
    align-items: center;
    justify-content: center;
    table-layout:fixed;
    word-wrap:break-word;
    font-size:small;
    /* overflow-x: scroll; */
  }

  td {
    overflow:hidden;
  }
  td > button {
    padding: 5px 6px;
    margin: 1px 1px;
    /* overflow: hidden; */
    font-size:"large";
    font-weight: bold;
  }

  .deleteIcon,.editIcon{
  display: block;
  font-size: 20px;
  color: #ff8c42;
  cursor: pointer;
  padding:10px;
}

.Delete-btn,.Edit-btn{
  display: none;
}
.Download-btn{
  background-color: #ff8c42;
  text-align: center;
  cursor: pointer;
  height: fit-content;

}

}